body{
  margin: 0;
  padding: 0;
  background-color: rgba(129, 15, 15, 0.938);
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header a{
  color: rgb(255, 250, 250);
  font-weight: bold;
  font-size: 1.5rem;
  background-color: rgb(245, 31, 216);
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

header a:hover{
  background-color: rgb(155, 46, 140);
}

main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  width: 25%;
  height: 31.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

section div {
  margin-top: 2.5rem;
  margin-left: 3.2rem;
  height: 2.5rem;
  width:2.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.37);
}

section h2{
  margin-left: 50px;
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

section p{
  width: 60%;
  height: 50%;
  text-align: left;
  margin-left: 3.2rem;
  line-height: 1.7rem;
  color: hsl(0, 0%, 100%);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1rem;
  margin-top: 0px;
}

section button{
  margin-left: 3.2rem;
  margin-bottom: 2.5rem;
  padding: 1rem 3rem;
  border-radius: 1.2rem;
  border: none;
  font-size: bold;
  font-weight: bold;
  cursor: pointer;
}


.sedans-section{
  background-color: hsl(31, 77%, 52%);
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.suvs-section{
  background-color: hsl(184, 100%, 22%);
}


.luxury-section{
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.sedans-section button{
  color: hsl(31, 77%, 52%);
}

.suvs-section button{
  color: hsl(184, 100%, 22%);
}

.luxury-section button{
  color: hsl(179, 100%, 13%);
}

section button:hover{
  color: white;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: transparent;
}